:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --backgroundBlue: #6ea4bb;
  --fontWhite: #e7e7e6;
  --darkPokemon: #464646;
  --redPokemon: #c04c4b;
  --yellowPokemon: #f0dba5;
  background-color: var(--backgroundBlue);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

