body {
    background: #eee;
    font-family: sans-serif;
  
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: auto;
    padding:8px;
 
  }
  
  .title {
    background: #e3f4ff;
    margin-bottom: 8px;
    font-size: 16px;
    padding-left: 8px;

  }
  
  .content {
    background: #e3f4ff;
    margin-bottom: 8px;
    padding-left: 8px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    background: #e3f4ff;
    justify-content: center;
    text-align: center;
    padding: 8px;
   
  
   
  }
  
  button {
    background: white;
    border: 1px solid #eee;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
  }