.navbar {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-width: 55%;
  max-width: 120vh;
  min-height: 5vh;
  max-height: 5vh;
  margin-top: 7vh;
  position: sticky;
  top: 0;

  border-bottom: 1px solid black;
  border-top: 1px solid rgb(214, 209, 209);
  line-height: 6vh;
  margin-bottom: 1vh;
  overflow: hidden;
}

ul {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  min-height: 4vh;
  top:0;

  max-height: 4vh;

  list-style-type: none;
  background-color: white;
}

ul > li {
  display: inline;
  padding: 6vh;
  color: black;
  font-size: 1.1vh;
    font-weight: 500;
}

ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 1.1vh;

  font-weight: 500;
}

ul > li > a:hover {

  color:slategrey;
  text-decoration: underline;

  
}


.userName {

  font-size: 1.2vh;

  font-weight: 500;



  white-space: pre;
}

.logOut {
  font-size: 1.2vh;



}
