.randomNew >a {
  text-decoration: none;
  color: white;

}
.randomNew{
  display: grid;
  min-width: 55vw;
  max-width: min-content;
  min-height: 72vh;
  max-height: min-content;
  background-color: black;
  color: white;
}

 .cardRandom>img{
  max-width: 60vh;
}

.randomNew{
  margin-bottom: 2vh;
}