@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.navGeneral{
    display:flex;
    justify-content: space-around;
    background-color: var(--gb-colorFont);
    color:var(--gb-background);
    border-radius: 2%;
    height: 6vh;
    width: 140vh;
    align-items: center;
   
    align-content: initial;
 
}



.navGeneral> buttom{

border: 2px solid var(--gb-background);
font-size: 12px;
height: 3vh;
line-height: 3vh;
width: 14vh;
text-align: center;



}