@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=VT323&display=swap");

@font-face {
  src: URL(https://fonts.googleapis.com/css2?family=Poor+Story&family=VT323&display=swap);
  font-family: "Poor Story", cursive;
}

.myTitle {
  font-family: Poor Story;
  /* Añadir font-family */
}
