.moleContainer {
  display: grid;
  margin-top: 2vh;
  grid-template-columns: 6fr 6fr 6fr;
  grid-template-rows: 2fr 8fr;
  height: 80vh;
  width: 120vh;
  justify-items: center;
  background-image: url(https://manestreethome.files.wordpress.com/2019/07/furinkazan.jpg);
  opacity: 1;

  box-shadow: 0px 0px 25px #222;
  border-radius: 20px;
}

@media (max-width: 767px) {

  .moleContainer {
    display: grid;
    margin-top: 2vh;
    grid-template-columns: 6fr 6fr 6fr;
    grid-template-rows: 2fr 8fr;
    height: 90vh;
    width: 80vh;
    justify-items: center;
    background-image: url(https://manestreethome.files.wordpress.com/2019/07/furinkazan.jpg);
    opacity: 1;
  
    box-shadow: 0px 0px 25px #222;
    border-radius: 20px;
  }

  .moleDiv {
    grid-column: 1/7;
    grid-row: 2/9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 65%;
    width: 85%;
    border-radius: 10px;
    padding-bottom: 2vh;
    cursor: crosshair;
  
  }
  
  .MoleSquare {

    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/85/8e/25/858e25a5e5af68ad050f3f7b56e57679.jpg);
    background-size: 30%;
    background-position: center;
    
  
    border: 3px solid #131212;
   
  }
}

.moleDiv {
  grid-column: 1/7;
  grid-row: 2/9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 75%;
  border-radius: 10px;
  padding-bottom: 2vh;
  cursor: crosshair;
}

.scoringDiv {
  grid-column: 1/2;
  grid-row: 1/2;
  display:grid;
  grid-template-rows: 2fr 2fr;
  width: 100%;
  justify-content: center;
  justify-items: center;

  align-items: center;
  color: rgb(250,232,0);
  height: 10vh;
  backdrop-filter: blur(3px);
  font-size: 20px;
}

.buttomDiv{

  grid-column: 2/3;

  grid-row: 1/2;
  display:grid;
 
  width: 100%;
  justify-content: center;
  justify-items: center;

  align-items: center;
  align-content: center;
  color: rgb(250,232,0);
  height: 10vh;
  backdrop-filter: blur(20px);
  font-size: 40px;
  cursor:pointer;
  border: 2px solid rgb(250,232,0);
  border-radius: 10px;
}


.timingDiv{

  grid-column: 3/4;
  grid-row: 1/2;
  display:grid;
 
  grid-template-rows: 2fr 2fr;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: rgb(250,232,0);
  height: 10vh;
  backdrop-filter: blur(3px);
  font-size: 20px;
 


}

.MoleSquare {

  height: 98%;
  width: 98%;
  background-image: url(https://i.pinimg.com/originals/85/8e/25/858e25a5e5af68ad050f3f7b56e57679.jpg);
  background-size: 92%;
  background-position: center;
  

  border: 3px solid #131212;
 
}

.ryu {
    border: 5px solid var(--gb-background);
  

    background-image: url(https://i.ytimg.com/vi/hO7JEqIPQv0/hqdefault.jpg);
  background-size: cover;

 
}

.ryuHIT {
    border: 5px solid var(--gb-background);
  height: 100%;
  width: 100%;
  background-image: url(https://ih1.redbubble.net/image.2577472821.5217/st,small,845x845-pad,1000x1000,f8f8f8.jpg);
  background-size: 150%;
  background-position: center;
  background-color: red;
 
}