.type{

  border: 1px solid var(--gb-colorFont);
  font-size: 9px;

  height: 2vh;
line-height: 2vh;
width: 6vh;
}

.pokemonDiv {
  display: grid;
  height: 70vh;
  grid-template-columns: repeat(4, 1fr);

  width: 140vh;
  margin-top: 1rem;
  justify-items: center;
}

.pokemonBarNav{
  display:flex;
  font-size: 12px;
  text-align: center;

  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pokemonBarNav>input{
height: 2vh;

}

.pokemonDiv > .figureCardPokemon {
  text-align: center;
  width: 80%;

  padding: 10px;

  background-color: var(--gb-colorFont);
  color: var(--gb-background);
}

.pokemonDiv > .figureCardPokemon > img {
  object-fit: cover;
  background-color: var(--gb-background);
  width: 100%;

  filter: grayscale(100%);
}

.buttomSearcher{
height: 2vh;
line-height: 2vh;
  border: 1px solid var(--gb-colorFont);
  background: var(--gb-colorFont);
  color: var(--gb-background);
  width: 6vh;
}