@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  --gb-background: #c3cfa1;
  --gb-colorFont: #0f380f;
  --gb-darkGreen: #306230;
  --gb-lightGreen: #8bac0f;
  font-family: "Press Start 2P", cursive;
}

body {


  /* esto es para MÓVIL*/
  background-color: var(--gb-background);
  color: var(--gb-colorFont);
  display: grid;
  justify-items: center;
  align-items: start;
  align-content: start;

  width: 100%;
  min-height: 90vh;

}

main {
 
  display: grid;

  align-items: stretch;


  justify-items: center;
  justify-content: center;

 height: auto;
 min-height: 87vh;
  width: 100%;
  background-color: inherit;
  



}


header{

  height: 5vh;
  width: 100%;
  background-color: var(--gb-colorFont);
}