.booksDiv {
  display: grid;
  grid-template-columns: 2fr 4fr; 
  grid-template-rows: repeat(9, 1fr);
  height: 60vh;
  width: 65vh;
  justify-items: center;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  align-content: center;
  background-color: #1b201f;
  color:#ffdfdc;
  border-radius: 5%;
  
}


.imgContainer{

    grid-column: 2/3;
    width: 100%;
    height: 90%;
    grid-row: 2/10;
    display: flex;
    
   


}

.bookImage {
  
  object-fit:cover;
max-height: 100%;
 max-width:100%;
 margin-left: auto;
 margin-right: auto;
 display: block;
 -webkit-box-shadow: #FFF 0 -1px 4px, #ebe7ec 0 -2px 10px, #ff8000 0 -10px 20px, #ce2525 0 -18px 40px, 5px 5px 15px 5px rgba(246,250,252,0); 
 box-shadow: #FFF 0 -1px 4px, #ebe7ec 0 -2px 10px, #ff8000 0 -10px 20px, #ce2525 0 -18px 40px, 5px 5px 15px 5px rgba(246,250,252,0);
 background: #ECEFCF;
 }
 body#tinymce {
 background: #FFFFFF;

 




  
}

.titleText {
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 2vw;
  width: 95%;
  
  line-height: 2.5vw;
 background-color:#cf2425;
 border-radius: 10px;

}

.authorText {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  text-align: left;
  margin-left: 3vh;
  font-size: 1vw;
}

.genreText {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 100%;
  text-align: left;
  margin-left: 3vh;
  font-size: 1vw;
}

.dateText {
  grid-column: 1/2;
  grid-row: 5/6;
  width: 100%;
  text-align: left;
  margin-left: 3vh;
  font-size: 1vw;
}

.birthText {
  grid-column: 1/2;
  width: 100%;
  text-align: left;
  margin-left: 3vh;
  font-size: 1vw;
}



.linksInfo{
    margin-left: 3vh;
    width: 100%;
    text-align: left;
    text-decoration-line: underline;

    color:#ffdfdc;
    text-decoration: none;
}