.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    
  }
  .moreCard {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    width: 80%;
    background-color:cadetblue;
    
  }