.footer{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 4fr 1fr ;
height: 11vh;
width: 100%;
background-color: #586479;
color:#faf3f7;
bottom: 0;
justify-content: center;
justify-items: center;
padding: 1vh;

}

.logoPicture{
grid-row: 2/6;
    height: 3vh;
}

.author{
font-size: 0.9vw;
    grid-row: 1/2;
    height: 2vh;

    
}

.copyrightText{
 height: 1vh;
 font-size: 0.7vw;
 grid-row: 6/7;

}